
@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 4px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4623E9;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #EAABF0;
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(224, 231, 231);
  }

  
  